<form class="form-inline" id="add_friend_form">
    <input class="form-control mr-sm-2" id="friend_nickname" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id="send_friend_request" type="button" onclick="SendFriendRequest(this)"><i class="bi bi-search"></i></button>
</form>
<dib id="user_found" style="display:none">Приглашение успешно отправлено</dib>
<dib id="user_not_found" style="display:none">Пользователь с таким никнеймом не существует</dib>


