<form class="form-inline m-auto" id="add_friend_form">
    <input class="form-control mr-sm-2" id="friend_nickname" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id="send_friend_request" type="button" onclick="SendFriendRequest(this)"><i class="bi bi-search send_request"></i></button>
</form>


