@model messenger2.DataLayer.ViewModels.Contacts.UsersBriefInfoViewModel
@if (Model.UsersInfo.Count()==0)
{
    <div class="text-center" id="EmptyFriendList">У вас нет друзей :с</div>
}
else
{
    <div class="text-center" id="EmptyFriendList" style="display: none">У вас нет друзей :с</div>
}
<div class="container_for_friend_list center-block">
    <ul class="list-group list-group-flush friend_list">
        @foreach (var UserInfo in Model.UsersInfo)
        {
            <li class="list-group-item justify-content-around" name="@UserInfo.UserId"><div class="d-inline-block friend_nickname">@UserInfo.Nickname</div><div class="d-inline-block d-flex justify-content-around friend_buttons"><i class="bi bi-chat-left-dots chat" onclick="LoadChatWithFriend(@UserInfo.UserId)"></i><i class="bi bi-x-lg delete_friend" onclick="DeleteFriend(this)"></i></div></li>
        }
    </ul>
</div>

