@model messenger2.DataLayer.ViewModels.Contacts.UsersBriefInfoViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    Layout = "_Layout";
    ViewBag.Title = "Друзья";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@requestToken">


<nav class="navbar navbar-light bg-light navbar_contacts">
    <form class="container-fluid justify-content-between">
        <button id="button_friends" class="btn btn-outline mr-2 contacts_button" style="border-color: #87CEFA;" type="button" onclick="SwitchMenuElement(this)">Друзья</button>
        <button id="button_senders" class="btn btn-outline mr-2 contacts_button" style="border-color: #87CEFA;" type="button" onclick="SwitchMenuElement(this)">Приглашения</button>
        <button id="button_addfriend" class="btn btn-outline mr-2 contacts_button" style="border-color: #87CEFA;" type="button" onclick="SwitchMenuElement(this)">Добавить друга</button>
    </form>
</nav>

<div id="ErrorMessageToUser" style="display: none"></div>

<div id="Contacts_ContentBlock">
    @{
        await Html.RenderPartialAsync("_FriendsList", Model);
    }   
</div>

<button id="button1">Click</button>
<div id="ii" name="eee">    </div>
<div id="emptyDiv"></div>

@section scripts{
    <script>
        $(document).ready(function(){
             $("#button1").on('click',function(){
                 $.ajax({
            url: '/Contacts/DeleteFriend',
        data: JSON.stringify(data),
            headers:
        {
            "RequestVerificationToken": $('#RequestVerificationToken').val()
        },
        type: "POST",
            dataType: "json",
                contentType: "application/json"
    });


             });
             });

    </script>
} 