span.warning {
    color: red; 
    font-size: 80%; 
}

i.bi-exclamation-triangle-fill, i.bi-check-circle-fill, i.bi-dash-circle-fill {
    justify-content: space-around;
    width: 40px;
    font-size: 24px;
}
