html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

}

header{
    height: 60px;
}

#main-navbar
{
    height:100%;
}

#main-container
{
    height:calc(100vh - 60px);
}

#render_container {
    height: 100%;
}